/*menu*/
* {
  box-sizing: border-box;
  }
  nav ul {
  display:flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  }
  .size_icon{
   font-size: 25px;
  }
  .menu_drop>li>a{
   background-color: #333;
   color: white;
   padding: 10px;
   display: block;
   text-decoration: none;
   min-width: 50px;
   text-align:center;
  }
  /*Nested list*/
  .menu_drop>li>ul>li>a{
   background-color: #333;
   color: white;
   padding: 10px;
   display: block;
   text-decoration: none;
   min-width: 100px;
   text-align:center;
  }
  /*List and nested list*/
  .menu_drop li>a:hover{
   color: black;
   background-color: lightgrey;
  }
  /*By default the nested list is hidden*/
  .menu_drop>li>ul{
   display: none;
   position: absolute; /*the dropdown is over the content*/
  }
  /*When you (hovering) roll the cursor over the item, the drop-down-menu appears*/
  .menu_drop>li:hover> ul {
   display:flex;
  }
   .menu_pc {
  display: none;
   }


/*end of menu*/


*{box-sizing: border-box;}

.bodyclass{background-color:dimgrey}

header, section, aside, footer, nav li{
  padding: 1%;
  
  align-content: flex-end;
  }
  nav ul{margin:0;padding:0;
  list-style: none;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;height: 100%;}
  
  .container{ display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  }  
  
  /*classes*/
  #greytext{color: grey;}
  
  .grey{background-color:
  lightslategray;
  }

  .image{width: 50%; height: 25%;}
  
  .black{background-color:black;
          padding:1%;}
  
  .white{background-color: 
         darkgrey; 
         padding:1%;}
  
  .centertext{text-align: center;}
  .colortext {color:aliceblue;}
  
 /*for mobile phones*/
  
 [class*="col-"]{
  width: 
  100%;  
  .menu_movil {
    display: none;
     }
     .menu_pc {
    display: flex;
     }
    }
  
  /* For tablets: */
  @media only screen and (min-width: 400px) {
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  
  .menu_movil {
    display: none;
     }
     .menu_pc {
    display: flex;
     }
    }
  /*for desktop*/
  @media only screen and (min-width: 768px) {
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  
  
  }